*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none; 
}

a:link , a:visited{
  text-decoration: none;
}

body{
  background-color: #000;
}

.wrap{
  width: 100%;
}

.wrap section:nth-child(1){
  width: 100%;
  height: 100vh;
  background-color: orange;
}
.wrap section:nth-child(2){
  width: 100%;
  height: 80vh;
  background-color: green;
}
.wrap section:nth-child(3){
  width: 100%; 
  margin-top: 1.6%; 
  margin-bottom: 1.6%; 
}
.wrap section:nth-child(3) .inner{
  width: 90%;
  margin: auto;
  
}

.wrap section:nth-child(3) a:link , 
.wrap section:nth-child(3) a:visited{
  color:white;
  padding-left: 1%;
  margin-top: 4%;  
  font-weight: bold;
  font-size: 0.8em;
} 

.wrap section:nth-child(3) ul{
  width: 100%;
  margin-top:1.6%;
}
.wrap section:nth-child(3) li{
  width: 100%;
  background-color: #a9a9a9;
  position: relative;
  margin-bottom: 1.4%;
  padding-top: 1.4%;
  padding-bottom: 1.4%;
}
.wrap section:nth-child(3) svg{
  position: absolute;
  right:12px;
  top:50%;
  transform: translateY(-50%);
  width: 28px;
  transition: all .4s;
}
.wrap section:nth-child(3) .ani{
  transform: translateY(-50%) rotate(313deg);
}

.inner h1{
  color:white;
}

.wrap section:nth-child(3) p{
  color:rgb(0, 0, 0);
  width: 100%;
  box-sizing: border-box;
  padding: 1.2%;
  padding-right: 4%;
  font-size: 0.8em;
  display: none;
}

.wrap section:nth-child(4){
   width: 100%;
  height: 30vh;
  background-color: darkcyan;
}
