*{
  margin: 0;
  padding:0;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap{
  width: 340px; 
  margin: auto;
}
.wrap h1{
  margin-bottom: 12px;
}
.wrap p{margin-bottom: 12px;}
.wrap input{
  width: 100%;
  height: 40px;
}
.wrap button{
  width: 100%;
  height: 40px;
  background-color: #004FFC;
  border-radius: 4px;
  border:0;
  color:white;
  cursor: pointer;

}